@font-face {
  font-family: MyHelvetica;
  src: local("Helvetica Neue"),
       local("HelveticaNeue"),
       url("../fonts/HelveticaNeueLt.ttf");
  font-weight: normal;
}
/*
@font-face {
  font-family: MyHelvetica;
  src: local("Helvetica Neue"),
       local("HelveticaNeue"),
       url("../fonts/HelveticaNeueMed.ttf");
  font-weight: bold;
}
*/

* {
  font-family: MyHelvetica;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-size: 16pt;
}

p {
  font-size: 12pt;
}

li {
  font-size: 12pt;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
  margin-bottom: -15px;
}

.wrapper {
	position: relative;
	padding-top: 10px;
	width: 700px;
	margin: auto;
}

#contact {
	float: right;
	padding-right:16px;
}

.content img {
	width: 210px;
	height: auto;
	float: left;
	padding-right: 16px;
}

.content h3 {
	padding-top: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #000;
}

.popup .info {
  max-height: 30%;
  overflow: auto;
}

tt {
	font-size: 13px;
}

.logo {
  display: block;
  float: right;
  padding-bottom: 10px;
}

.logo img {
  width: 130px;
}

/*Disable navbar collapse*/
.navbar-collapse .collapse {
  display: block;
}

.navbar-nav > li, .navbar-nav {
  float: left;
}

.navbar-nav .navbar-right:last-child {
  margin-right: -15px;
}

.navbar-right {
  float: right!important;
}

@media screen and (max-device-width: 640px) {
  .wrapper {
    width: 100%;
  }

  .popup {
    width: 60%;
  }
}