body {
    margin: 0;
    padding: 0;
}

.wrapper {
	position: relative;
	top: 10vh;
	width: 640px;
	margin: auto;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

nav ul li {
	float: left;
}

nav ul li a {
	padding: 16px;
}

#contact {
	float: right;
	padding-right:16px;
}

.content img {
	width: 200px;
	height: auto;
	float: left;
	padding-right: 16px;
}

.content h3 {
	padding-top: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #000;
}

.popup .info {
  max-height: 30%;
  overflow: auto;
}

tt {
	font-size: 13px;
}

.logo {
	display: block;
	width: 200px;
	float: right;
}
